body {
  margin : 0;
  padding: 0;
  background-color:  #1d1e22;
}


#fonte.face  {
font.family: SFDistantGalaxyOutline;
}


header {
  height:100%;
  width:100%;
  background-image: url("IMG/ESPACE.gif");
  background-size:cover;
}

#logo{
height:40%;
  width:30%;
margin-top: 20%;
}


#logo2{
height:50%;
  width:50%;
margin-top:em 10%;
margin-right: 10px;
}


header h1 {font-size:35px;
          font-family: SFDistantGalaxyOutline;
          color:White;
          padding:70px;
          margin:20px;
        }




        .profile {
          border:1px solid grey;
          width:90%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 30px 10px 30px grey;
        background-color:   #2e3830;
        margin-top: 20px;
        margin-bottom: 20px;
        }


        .proficiencies {
          border:2px solid #F0E68C;
          width:80%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 30px 10px 30px grey;
        background-color:  #D1D7E0;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
        }


        .skill {
          border:2px solid #F0E68C;
          width:80%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 30px 10px 30px grey;
        background-color:  #D1D7E0;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
        }


        .education {
          border:1px solid grey;
          width:80%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 30px 10px 30px grey;
        background-color:  #1d1e25;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
        }


        .hobbies {
          border:1px solid grey;
          width:65%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 30px 10px 30px grey;
        background-color:  #1d1e25;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
        }


        .contact {
          border:1px solid grey;
          width:65%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 30px 10px 30px grey;
        background-color:  #1d1e25;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
        }


}





nav li{

  display: run-in;
  font-size: 20px;
  float: center;
  font-style: italic;
  padding-right: 15px;
  margin-right: 10px;

}






  section {
    min-height:70vh;
}









p2{

  font-size: 35px;
  padding-left:auto;
  padding-right: auto;
    text-align: justify;

  color: #FFC31E;
  font-family: SFDistantGalaxyOutline;
}





   h2{
      text-align: center;

    }



    h3{
       text-align: center;
       color: #FFC31E;
       font-family: SFDistantGalaxyOutline;
         font-size: 40px;

     }



h4{
       text-align: center;
       color: #FFC31E;
       font-family: SF Distant Galaxy Outline;
         font-size:80px;
    padding-left:auto;
  padding-right: auto;

 }




p{

  font-size: 32px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  color: #D1D7E0;
}






.boite1 li{
  font-size: 25px;
  padding-bottom: 20px;
}

.droite {
  float:justify;

}
.droite p{
  margin-top: 40%;
  margin-right: 60px;
  text-align: left;
  text-align: justify;
}
